/*todas as demais mídias */

/*typical device breakpoints

--------------------------------

pequenas telas: até 600px
celular: até 600px até 768px
tablet:768px até 992px 
desktop:992px até 1200px
grandes telas: acima de 1200px

*/

@media print { /* impressão */
    
}

@media screen and (orientation: portrait) {
    body {
        background-image: url(../imagens/back-phone.jpg);
    }
    #phone {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* tablet */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    #tablet {
    display: block;
}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* desktop */
        body {
        background-image: url(../imagens/back-pc.jpg);
    }
            #pc {
    display: block;
}
}

@media screen and (min-width: 1200px) { /* grandes telas */
    body {
        background-image: url(../imagens/back-tv.jpg);
}
        #tv {
    display: block;
}
    }
