/* estilos impressoras */

* {
    padding: 10px;
    margin: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article::after {
    content: 'esse artigo foi empresso pelo site de joao m';
}

article {
    width: 100%;
}