/*

typical device breakpoints

--------------------------------

pequenas telas: até 600px
celular: até 600px até 768px
tablet:768px até 992px 
desktop:992px até 1200px
grandes telas: acima de 1200px

*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }


    p {
    font-size: 1em;
    text-align: center;
    }

    .login {
        width: 80vw;
    }

    .imagens {
        float: left;
        width: 30%;
        height: 100%;
    }

    .formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    p {
    font-size: 1.2em;
    text-align: center;
    }

    .login {
        width: 950px;
    }

    .imagens {
        float: left;
        width: 50%;
        height: 100%;
    }

    .formulario {
        float: right;
        width: 50%;
    }
}